.completely .completely-spacer {
  visibility: hidden;
  position: fixed;
  left: 0;
  white-space: pre;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: normal; }
.completely .completely-highlight-active {
  background: #eee; }
.completely .completely-reset {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0; }
.completely input {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  color: #222; }
.completely input.completely-input {
  background: transparent;
  vertical-align: top;
  position: relative;
  z-index: 2; }
.completely input.completely-hint {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  border-color: transparent;
  box-shadow: none;
  color: #888; }
.completely div.completely-wrapper {
  position: relative; }
.completely div.completely-drop-down-row {
  color: #888; }
.completely div.completely-drop-down-row:hover {
  background: #eee; }
.completely div.completely-prompt {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: transparent; }
.completely div.completely-drop-down {
  border: 1px solid #eee;
  overflow-x: hidden;
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  white-space: pre;
  cursor: default;
  z-index: 100;
  text-align: left;
  visibility: hidden;
  position: absolute !important; }
